<div class="card col-4 mb-3">
    <div class="card-header">
        <div class="d-flex">
            <a class="ms-auto" href="{{ url_for('person.edit', id=person.id) }}">
                <i class="fa-solid fa-pencil"></i>
                {{ _("Edit") }}
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex flex-column gap-3">
            <div>
                <label for="administrative_gender">{{ _("Administrative gender") }}</label>
                {{ person.administrative_gender | default("-", True) }}
            </div>
            <div>
                <label for="birth_date">{{ _("Birth date") }}</label>
                {{ person.birth_date | date(default="-") }}
            </div>
            <div>
                <label for="death_date">{{ _("Death date") }}</label>
                {{ person.death_date | date(default="-") }}
                {{ "estimated" if person.death_date_estimated_indicator }}
            </div>
            <div>
                <label for="death_indicator">{{ _("Dead") }}</label>
                {{ person.death_indicator | bool }}
            </div>
        </div>
    </div>
</div>
