<div class="card col-4">
    <div class="card-header">
        <div class="d-flex">
            <b>{{ _("Names") }}</b>
            <a class="ms-auto" href="{{ url_for('.name.new', person_id=person.id) }}">{{ _("Add") }}</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for name in person.name %}
                <tr>
                    <td>{{ name }}</td>
                    <td class="text-end">
                        <a href="{{ url_for('.name.edit', person_id=person.id, id=name.id) }}">
                            <i class="fa-solid fa-pencil"></i>
                            {{ _("Edit") }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
