<div class="card col-4">
    <h5 class="card-header">{{ _("Names") }}</h5>
    <div class="card-body">
        <a href="{{ url_for('.name.new', person_id=person.id) }}">
            {{ _("Add") }}
        </a>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for name in person.name %}
                <tr>
                    <td>{{ name }}</td>
                    <td class="text-end">
                        <a href="{{ url_for('.name.edit', person_id=person.id, id=name.id) }}">
                            <i class="fa-solid fa-pencil"></i>
                            {{ _("Edit") }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
