{% extends "base.html" %}

{% block content %}

<div class="d-flex">
    <h1>{{ person }}</h1>
    <div class="flex-grow-1"></div>
    <div>
        <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                {{ _("Actions") }}
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('.name.edit', person_id=person.id, id=person.primary_name.id) }}">{{ _("Rename") }}</a></li>
            </ul>
        </div>
    </div>
</div>

{% with obj=person %}
<div class="card col-4 mb-3">
    <div class="card-body">
        <div class="position-absolute top-0 end-0 p-3">
            <a href="{{ url_for('person.edit', id=obj.id) }}">
                <i class="fa-solid fa-pencil"></i>
                {{ _("Edit") }}
            </a>
        </div>
        <div class="d-flex flex-column gap-3">
            <div>
                <label for="administrative_gender">{{ _("Administrative gender") }}</label>
                {{ obj.administrative_gender | default("-", True) }}
            </div>
            <div>
                <label for="birth_date">{{ _("Birth date") }}</label>
                {{ obj.birth_date | date(default="-") }}
            </div>
            <div>
                <label for="death_date">{{ _("Death date") }}</label>
                {{ obj.death_date | date(default="-") }}
                {{ "estimated" if obj.death_date_estimated_indicator }}
            </div>
            <div>
                <label for="death_indicator">{{ _("Dead") }}</label>
                {{ obj.death_indicator | bool }}
            </div>
        </div>
    </div>
</div>
{% endwith %}

<div class="card col-4">
    <h5 class="card-header">{{ _("Names") }}</h5>
    <div class="card-body">
        <a href="{{ url_for('.name.new', person_id=person.id) }}">Add name</a>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th class="w-20-tw"></th>
                </tr>
            </thead>
            <tbody>
                {% for name in person.name %}
                <tr>
                    <td>{{ name }}</td>
                    <td>
                        <a href="{{ url_for('.name.edit', person_id=person.id, id=name.id) }}">
                            <i class="fa-solid fa-pencil"></i>
                            {{ _("Edit") }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
