{% with obj=subject.performing_biologic_entity %}
<div class="card">
    <div class="card-header">
        <div class="d-flex">
            <b>{{ _("Organization info") }}</b>
            <a class="ms-auto" href="#" target="_blank">
                <i class="fa-solid fa-up-right-from-square"></i>
                {{ _("Open") }}
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex flex-column gap-3">
            Not implemented
        </div>
    </div>
</div>
{% endwith %}
