<div class="card col-4">
    <div class="card-header">
        <div class="d-flex">
            <b>{{ _("Name") }}</b>
            <a class="ms-auto" href="{{ url_for('.name.new', person_id=person.id) }}">
                <i class="fa-solid fa-plus"></i>
                {{ _("Add") }}
            </a>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                {% for en in person.name %}
                <tr>
                    <td>{{ en }}</td>
                    <td class="text-end">
                        <a href="{{ url_for('.name.edit', person_id=person.id, id=en.id) }}">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
