[tool.poetry]
name = "bridg"
version = "0.1.0"
description = ""
authors = ["Kirill Voronin <yoursdearboy@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
uvicorn = {extras = ["standard"], version = "^0.29.0"}
sqlalchemy = "^2.0.29"
psycopg2-binary = "^2.9.9"
flask = "^3.0.3"
flask-sqlalchemy = "^3.1.1"
python-dotenv = "^1.0.1"
bootstrap-flask = "^2.4.0"
flask-babel = "^4.0.0"
flask-wtf = "^1.2.1"
wtforms-alchemy = "^0.18.0"
flask-htmx = "^0.3.2"
flask-assets = "^2.1.0"
pyyaml = "^6.0.2"
pydantic = "^2.9.2"
cattrs = "^24.1.2"
toolz = "^1.0.0"
playwright = "^1.48.0"


[tool.poetry.group.dev.dependencies]
ipykernel = "^6.29.4"
ruff = "^0.5.5"
sqlalchemy-schemadisplay = "^2.0"
mkdocstrings = {extras = ["python"], version = "^0.25.2"}
mkdocs = "^1.6.0"
mkdocs-material = "^9.5.30"
libsass = "^0.23.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
line-length = 120

[tool.ruff.lint]
extend-select = ["I"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401", "F403"]
