{% from 'bootstrap5/form.html' import render_hidden_errors, render_field %}

{% extends "standard.html" %}

{% block titlebar_title %}
{{ _("Create protocol") }}
{% endblock %}

{% block content %}
<form id="study-protocol-form" method="POST">
    {{ form.csrf_token() }}

    {{ render_hidden_errors(form) }}

    <div class="mb-3">
        {{ _("You are going to create a protocol for this study.") }}
    </div>

    <button class="btn btn-primary" type="submit">{{ _("Save") }}</button>
</form>
{% endblock %}
