{% extends "base.html" %}

{% block content %}

<h1>{{ _("Subjects list") }}</h1>

<table class="table" id="subjects-table"></table>

{% endblock %}

{% block scripts %}

{{ super() }}

<script
    id="subjects-script"
    src="{{ url_for('static', filename='study/subject/index.js') }}"
    type="module"
    data-date-format="{{ _('yyyy-MM-dd' ) }}"
    data-datetime-format="{{ _('yyyy-MM-dd HH:mm:ss') }}"
    data-show-url="{{ url_for('.show', study_id=study_id, subject_id=':subject_id') }}" >
</script>

{% endblock %}
