{% extends "base.html" %}

{% block content %}

<h1>{{ _("New subject") }}</h1>

{% with data = { "url": url_for(".lookup", study_id=study_id) } %}
<div x-data='newSubjectForm({{ data | tojson }})'>
    <div class="row">
        <div class="col-lg-8">
            {% include "form.html"%}
        </div>
        <div class="col-lg-4">
            {% include "lookup.html"%}
        </div>
    </div>
</div>
{% endwith %}

{% endblock %}

{% block scripts %}

{% assets filters="typescript", output="./study/subject/new.js", "study/subject/new.ts" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{{ super() }}

{% endblock %}
