{% extends "standard.html" %}

{% block titlebar_title %}
{{ _("Studies list") }}
{% endblock %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>{{ _("Study") }}</th>
            <th>{{ _("Subjects") }}</th>
            <th>{{ _("Sites") }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for i in info %}
        <tr>
            <td><a href="#">{{ i.study }}</a></td>
            <td><a href="#">{{ i.subjects }}</a></td>
            <td><a href="#">{{ i.sites }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
