{% extends "standard.html" %}

{% block titlebar_title %}
{{ _("Subjects list") }}
{% endblock %}

{% block titlebar_right %}
<a class="btn btn-primary" href="{{ url_for('.new', study_id=study_id, version_id=version_id) }}">{{ _("New") }}</a>
{% endblock %}

{% block content %}

{% with data={
"dateFormat": _("yyyy-MM-dd"),
"datetimeFormat": _("yyyy-MM-dd HH:mm:ss"),
"showURL": "#"
} %}
<div x-data='subjectsTable({{ data | tojson }})'>
    <table class="table" x-ref="table"></table>
</div>
{% endwith %}

{% endblock %}

{% block scripts %}

{% assets filters="typescript", output="./study/subject/index.js", "../assets/study/subject/index.ts" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{{ super() }}

{% endblock %}
