{% from 'bootstrap5/form.html' import render_field, render_hidden_errors %}

{% extends "standard.html" %}

{% block titlebar_title %}
{{ object.performing_entity }}
{% endblock %}

{% block titlebar_right %}
<button class="btn btn-primary" type="submit" form="study-subject-form">{{ _("Save") }}</button>
{% endblock %}

{% block content %}

<form id="study-subject-form" method="POST" x-ref="form" @input.debounce="lookup">
    {{ form.csrf_token() }}

    {{ render_hidden_errors(form) }}

    {% include "subject/form/subject.html" %}
</form>

{% endblock %}
