{% extends "standard.html" %}

{% block titlebar_title %}
{{ _("Subjects list") }}
{% endblock %}

{% block titlebar_right %}
<a class="btn btn-primary" href="{{ url_for('.new', space_id=space_id) }}">
    {{ _("New") }}
</a>
{% endblock %}

{% block content %}

<table id="subjects-table" class="table"></table>

{% endblock %}

{% block scripts %}

{{ super() }}

<script>
    var dateFormat = {{ _('yyyy-MM-dd') | tojson }};
    var datetimeFormat = {{ _('yyyy-MM-dd HH:mm:ss') | tojson }};

    var columns = [
    {
        title: "{{ _('ID') }}",
        data: "id"
    },
    {% if planned_study_subject.performing_biologic_entity %}
    {
        title: "{{ _('Name') }}",
        data: (d) => d.performing_biologic_entity?.primary_name?.full || null,
    },
    {
        title: "{{ _('Administrative gender') }}",
        data: "performing_biologic_entity.administrative_gender_code",
    },
    {
        title: "{{ _('Birth date') }}",
        data: "performing_biologic_entity.birth_date",
        render: DataTable.render.datetime(dateFormat),
    },
    {
        title: "{{ _('Death indicator') }}",
        data: "performing_biologic_entity.death_indicator",
        render: (data) => (data === true ? "Yes" : data === false ? "No" : ""),
    },
    {
        title: "{{ _('Death date') }}",
        data: "performing_biologic_entity.death_date",
        render: DataTable.render.datetime(dateFormat),
    },
    {% elif planned_study_subject.performing_organization %}
    {
        title: "{{ _('Name') }}",
        data: (d) => d.performing_organization?.primary_name?.value || null
    },
    {
        title: "{{ _('Type') }}",
        data: "performing_organization.type"
    },
    {% endif %}
    {
        title: "{{ _('Status') }}",
        data: "status",
    },
    {
        title: "{{ _('Status date') }}",
        data: "status_date",
        render: DataTable.render.datetime(datetimeFormat),
    },
    {
        data: "url",
        sortable: false,
        render: (data) =>
        `<a href="${data}">
            <i class="fa-solid fa-right-to-bracket"></i>
        </a>`,
    }
    ];

    var el = document.getElementById("subjects-table");
    new DataTable(el, {
        ajax: {
            url: ".",
            dataSrc: "",
            beforeSend: (req) => req.setRequestHeader("Content-Type", "application/json"),
        },
        columns: columns,
        paging: false,
        searching: false,
    });
</script>

{% endblock %}
