<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block styles %}

    {% assets "css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% endblock %}

    <title>Your page title</title>
    {% endblock %}
</head>

<body x-data="theme()" :data-bs-theme="theme">
    {% include "navbar.html" %}

    {% block root %}
    {% endblock %}

    {% block scripts %}

    {% assets "js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% endblock %}
</body>

</html>
