<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block styles %}

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    {% endblock %}

    <title>Your page title</title>
    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}

    {% block scripts %}

    <script>
        window.datePattern = "{{ _("yyyy-MM-dd") }}";
    </script>

    <script type="module" src="{{ url_for('static', filename='index.js') }}"></script>

    {% endblock %}
</body>

</html>
