{% from 'bootstrap5/form.html' import render_hidden_errors, render_field %}

{% extends "standard.html" %}

{% block titlebar_title %}
    {{ object | default("New name") }}
{% endblock %}

{% block titlebar_right %}
    <div class="btn-group">
        <button class="btn btn-primary" type="submit" form="person-postal-form">{{ _("Save") }}</button>
        <div class="btn-group">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                {{ _("Actions") }}
            </button>
            <ul class="dropdown-menu">
                {% if object %}
                <li>
                    <a class="dropdown-item" href="#" hx-delete="{{ url_for('.delete', person_id=person_id, id=id) }}">
                        {{ _("Delete") }}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}

{% include "person/postal_address/form.html" %}

{% endblock %}
