{% from 'bootstrap5/form.html' import render_form, render_field, render_hidden_errors %}

{% extends "standard.html" %}

{% block titlebar_title %}
{{ _("New activity:") }}
{{ defined_activity }}
{% endblock %}

{% block titlebar_right %}
<div class="btn-group">
    <button class="btn btn-primary" type="submit" form="activity-form">{{ _("Save") }}</button>
    <div class="btn-group">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            {{ _("Actions") }}
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="#"
                    hx-delete="{{ url_for('.delete', space_id=space_id, subject_id=subject_id, id=id) }}">
                    {{ _("Delete") }}
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
{{ render_form(form, id="activity-form") }}
{% endblock %}
