{% from 'bootstrap5/form.html' import render_hidden_errors, render_field %}

{% extends "standard.html" %}

{% block titlebar_title %}{{ object if object.id else _("New protocol version") }}{% endblock %}

{% block content %}
<form method="POST">
    {{ form.csrf_token() }}

    {{ render_hidden_errors(form) }}

    <div class="mb-3">
        <div class="w-64-tw">{{ render_field(form.acronym) }}</div>
    </div>

    <button class="btn btn-primary">{{ _("Save") }}</button>
</form>
{% endblock %}
