<div class="row">
    <div class="col-lg-8">
        {% with form=form.performing_organization %}
        <div class="card mb-3" x-show="selected == null">
            <div class="card-body">
                <div class="w-64-tw">{{ render_field(form["name"][0].value) }}</div>
                <div class="w-64-tw">{{ render_field(form["type"]) }}</div>
                <div class="w-144-tw">{{ render_field(form["description"]) }}</div>
            </div>
        </div>
        {% endwith %}

        <template x-if="selected != null">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex gap-2">
                        <h5 x-text="selected.performing_organization.primary_name?.value"></h5>
                        <a class="btn-close" href="#" @click="selected = null"></a>
                    </div>
                    <input type="hidden" name="{{ form.performing_organization_id.name }}"
                        :value="selected.performing_organization?.id" />
                </div>
            </div>
        </template>
    </div>

    <div class="col-lg-4 position-relative">
        <div class="card mb-3 position-absolute">
            <div class="card-body">
                {{ _("Has the subject been registered in the database before?") }}
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{ _("Name") }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template x-for="subject in subjects">
                            <tr @click="selected = selected === subject ? null : subject"
                                :class="{ 'table-active': selected == subject }">
                                <td x-text="subject.performing_organization.primary_name?.value"></td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
