{% from 'bootstrap5/form.html' import render_hidden_errors, render_field %}

{% with data = { "url": url_for(".lookup", study_id=study_id) } %}
<form id="study-subject-form" method="POST" x-data='newSubjectForm({{ data | tojson }})' x-ref="form"
    @input.debounce="lookup">
    {{ form.csrf_token() }}

    {{ render_hidden_errors(form) }}

    {% if planned_study_subject.performing_biologic_entity %}
    {% include "study/subject/_form_biologic_entity.html" %}
    {% elif planned_study_subject.performing_organization %}
    {% include "study/subject/_form_organization.html" %}
    {% endif %}

    <div class="card col-lg-8 mb-3">
        <div class="card-body">
            <div class="row">
                <div class="w-64-tw">
                    {{ render_field(form.assigned_study_site_protocol_version_relationship, class="select2") }}
                </div>
            </div>
            <details>
                <summary>Extra</summary>
                <div class="row">
                    <div class="w-64-tw">{{ render_field(form.status) }}</div>
                    <div class="w-64-tw">{{ render_field(form.status_date) }}</div>
                </div>
            </details>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">{{ _("Save") }}</button>
</form>
{% endwith %}
