<div class="card col-4">
    <div class="card-header">
        <div class="d-flex">
            <div class="ms-auto">
                <a href="{{ url_for('.edit', study_id=study_id, id=id) }}">
                    <i class="fa-solid fa-pencil"></i>
                    {{ _("Edit") }}
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex flex-column gap-3">
            <div>
                <label for="status">Status</label>
                {{ subject.status.value | default("-", True) }}
                {% if subject.status_date %}
                ({{ subject.status_date | datetime }})
                {% endif %}
            </div>
            <div>
                <label for="assigned_study_site_protocol_version_relationship">
                    {{ _("Study sites and protocols") }}
                </label>
                <ul id="assigned_study_site_protocol_version_relationship" class="list-unstyled">
                    {% for asspvr in subject.assigned_study_site_protocol_version_relationship %}
                    <li>{{ asspvr }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
