{% extends "base.html" %}

{% block content %}

<div class="d-flex">
    <h1>{{ subject.performing_entity }}</h1>
    <div class="flex-grow-1"></div>
    <div>
        <a class="btn btn-danger" hx-delete="{{ url_for('.delete', study_id=study_id, subject_id=subject.id) }}">
            Delete
        </a>
    </div>
</div>

{% with obj=subject.performing_biologic_entity %}
<div class="card col-4 mb-3">
    <div class="card-body">
        <div class="position-absolute top-0 end-0 p-3">
            <a href="{{ url_for('person.show', id=obj.id) }}" target="_blank">
                <i class="fa-solid fa-up-right-from-square"></i>
                {{ _("Open") }}
            </a>
        </div>
        <div class="d-flex flex-column gap-3">
            <div>
                <label for="administrative_gender">{{ _("Administrative gender") }}</label>
                {{ obj.administrative_gender | default("-", True) }}
            </div>
            <div>
                <label for="birth_date">{{ _("Birth date") }}</label>
                {{ obj.birth_date | date(default="-") }}
            </div>
            <div>
                <label for="death_date">{{ _("Death date") }}</label>
                {{ obj.death_date | date(default="-") }}
                {{ "estimated" if obj.death_date_estimated_indicator }}
            </div>
            <div>
                <label for="death_indicator">{{ _("Dead") }}</label>
                {{ obj.death_indicator | bool }}
            </div>
        </div>
    </div>
</div>
{% endwith %}

<div class="card col-4">
    <div class="card-body">
        <div>
            <label for="status">Status</label>
            {{ subject.status.value | default("-", True) }}
            {{ subject.status_date | datetime(default="-") }}
        </div>
    </div>
</div>

{% endblock %}
