{% extends "standard.html" %}

{% block titlebar_title %}
{{ _("New subject") }}
{% endblock %}

{% block titlebar_right %}
<button class="btn btn-primary" type="submit" form="study-subject-form">{{ _("Save") }}</button>
{% endblock %}

{% block content %}

{% include "study_protocol_version/subject/_form.html"%}

{% endblock %}

{% block scripts %}

{% assets
filters="typescript",
output="./study_protocol_version/subject/new.js",
"../assets/study_protocol_version/subject/new.ts"
%}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{{ super() }}

{% endblock %}
