{% from 'bootstrap5/form.html' import render_field, render_hidden_errors %}

{% extends "standard.html" %}

{% block titlebar_title %}
{{ _("New subject") }}
{% endblock %}

{% block titlebar_right %}
<button class="btn btn-primary" type="submit" form="study-subject-form">{{ _("Save") }}</button>
{% endblock %}

{% block content %}

{% with data = { "url": url_for(".lookup", study_protocol_version_id=study_protocol_version_id) } %}
<form id="study-subject-form" method="POST" x-data='newSubjectForm({{ data | tojson }})' x-ref="form"
    @input.debounce="lookup">

    {{ form.csrf_token() }}

    {{ render_hidden_errors(form) }}

    {% if planned_study_subject.performing_biologic_entity %}
    {% include "study_protocol_version/subject/form/biologic_entity.html" %}
    {% elif planned_study_subject.performing_organization %}
    {% include "study_protocol_version/subject/form/organization.html" %}
    {% endif %}

    {% include "study_protocol_version/subject/form/subject.html" %}
</form>
{% endwith %}

{% endblock %}

{% block scripts %}

<script>
    function newSubjectForm(props) {
        var url = props.url;

        return {
            lookup: function () {
                var form = this.$refs.form;
                var data = new FormData(form);
                fetch(url, {
                    method: "POST",
                    body: data,
                })
                    .then(function (x) {
                        return x.json();
                    })
                    .then((res) => (this.subjects = res));
            },
            selected: null,
            subjects: [],
        };
    }
</script>

{{ super() }}

{% endblock %}
