<form id="person-name-form" method="POST">
    {{ form.csrf_token() }}

    {{ render_hidden_errors(form) }}

    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="w-64-tw">{{ render_field(form.family) }}</div>
                <div class="w-64-tw">{{ render_field(form.middle) }}</div>
                <div class="w-64-tw">{{ render_field(form.given) }}</div>
            </div>
            <details>
                <summary>Extra</summary>
                <div class="row">
                    <div class="w-64-tw">{{ render_field(form.prefix) }}</div>
                    <div class="w-64-tw">{{ render_field(form.suffix) }}</div>
                </div>
                <div class="row">
                    <div class="w-64-tw">{{ render_field(form.patronymic) }}</div>
                </div>
                <div class="row">
                    <div class="w-64-tw">{{ render_field(form.use) }}</div>
                </div>
            </details>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">{{ _("Save") }}</button>
</form>
